{{#if image}}
<a class="champion box" style="background-image: url({{image.spriteUrl}}); background-position: {{image.x}}px {{image.y}}px;" title="{{name}}"></a>
{{else}}
<span class="placeholder"></span>
{{/if}}